* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'Chakra Petch';
    font-style: normal;
}

body { margin: 0; }

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px auto;
    border-radius: 25px;
    box-shadow: 0 0 15px #BFD1DE;
    padding: 25px;
    display: flex;
    width: 300px;
}

.inputMatrix {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 0 auto;
}

.inputMatrix input {
    border: 1px solid #009999;
    height: 50px;
    width: 50px;
    margin: 10px;
    font-size: 20px;
    text-align: center;
}

input:focus {
    border: rgb(0, 255, 0) solid 2px;
}

a {
    font-size: 14px;
    width: 150px;
    text-decoration: none;
    outline: none;
    color: black;
    display: inline-block;
    position: relative;
    padding: 15px 10px;
    border: 1px solid;
    border-image: linear-gradient(180deg, #33CCCC, #009999, #1D7373, #006363);
    border-image-slice: 1;
    margin: 10px 20px;   
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: 2px;
    transition: .8s cubic-bezier(.165,.84,.44,1);
    text-align: center;
  }

  a:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 0;
    width: 100%;
    z-index: -1;
    color: white;
    background: linear-gradient(180deg, #33CCCC, #009999, #1D7373, #006363);
    transition: .8s cubic-bezier(.165,.84,.44,1);
  }

  a:hover { background: rgba(255,255,255,0); }
  a:active { background: white; }
  a:hover:before {
    bottom: 0%;
    top: auto;
    height: 100%;
  }